.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5rem;
  background-color: #065821;
  padding: 20px 0;

}
.socialIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}
